<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.lsts.accl.androidlib" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="pt.lsts.accl.android.AcclActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="pt.lsts.accl.android.AcclService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
